body {

  background-repeat: no-repeat;
  background-size: 140% auto;
}

.logo{
  width: 500px;
  height: 146px;




    position: relative;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("https://cdn.rawgit.com/mitchpehora/harvest/696b5d21/images/final%20harvest%20logo%20green.png");
    background-repeat: no-repeat;



    margin: auto;
}
.slogan{
  position: absolute;
  top: 200px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  text-align: center;
  font-family: 'Open Sans', sans-serif;

}


h2{
font-family: 'Open Sans', sans-serif;
}
a{

font-size: 20px;
text-decoration: none;
font-family: 'Oswald', sans-serif;
color: black;
}

footer {
    background-color: rgba(235, 167, 49, 0.5);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    overflow:hidden;

}


table {
    margin: 0 auto; /* or margin: 0 auto 0 auto */
  }
